<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Reception date:</strong>
  <%= @task.reception_date %>
</p>

<p>
  <strong>Task content:</strong>
  <%= @task.task_content %>
</p>

<p>
  <strong>Number of requests:</strong>
  <%= @task.number_of_requests %>
</p>

<p>
  <strong>Desired completion date:</strong>
  <%= @task.desired_completion_date %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
