<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Reception date:</strong>
  <%= @task.reception_date %>
</p>

<p>
  <strong>Task title:</strong>
  <%= @task.task_title %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
