<p id="notice"><%= notice %></p>

<p>
  <strong>Shipping method:</strong>
  <%= @delivery.shipping_method %>
</p>

<p>
  <strong>Delivery company name:</strong>
  <%= @delivery.delivery_company_name %>
</p>

<p>
  <strong>Delivery carrier phone number:</strong>
  <%= @delivery.delivery_carrier_phone_number %>
</p>

<p>
  <strong>Delivery company address:</strong>
  <%= @delivery.delivery_company_address %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
